<li class="character col">
  <div class="character__name card-title h4">
    Name: <span>{{ character.name }}</span>
  </div>
  <div class="character__name card-title h4">
    Family: <span>{{ character.family }}</span>
  </div>
  <div class="list-unstyled">
    Age: <span>{{ character.age }}</span>
  </div>
  <div>
    Type: <span>{{ character.type }}</span>
  </div>
  <div>
    isAlive: <span>{{ character.isAlive }}</span>
  </div>
  <div NgIf="character.show">
    <div>
      <span>{{ character.kingdomYears }}</span>
    </div>
    <div>
      <span>{{ character.weapon }}</span>
    </div>
    <div>
      <span>{{ character.skillsRange }}</span>
    </div>
    <div>
      <span>{{ character.lord }}</span>
    </div>
    <div>
      <span>{{ character.serverRange }}</span>
    </div>
    <div>
      <span>{{ character.master }}</span>
    </div>
  </div>
  <span> <button type="button" (click)="showMessage()">Talk</button></span>
</li>
